<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ColumnOneCount" value="1" />
    <add key="ColumnOneMin" value="1" />
    <add key="ColumnOneMax" value="160" />
    <add key="ColumnTwoCount" value="1" />
    <add key="ColumnTwoMin" value="1" />
    <add key="ColumnTwoMax" value="160" />
    <add key="ProjectCount" value="1" />
    <add key="ProjectMax" value="15" />
    <add key="ProjectRows" value="3"/>
    <add key="SingleMax" value="15"/>
    <add key="ColumnOneRows" value="160"/>
    <add key="ColumnTwoRows" value="160"/>
    <add key="AdditionalColumnCount" value="0"/>
    <add key="CTZeroCount" value="10"/>
    <add key="AddColumnTwoCount" value="1"/>
    <add key="SelectorMin" value="1" />
    <add key="SelectorMax" value="160" />
    <add key="SelectorCount" value="1" />

    <add key="Help_ColumnCount" value="16"/>
    <add key="Help_ColumnMin" value="1" />
    <add key="Help_ColumnMax" value="36" />
    <add key="Help_ColumnRowCount" value="2" />
    <add key="Help_AdditionalColumnCount" value="0" />
    
    <add key="Help2_ColumnCount" value="3"/>
    <add key="Help2_ColumnMin" value="1" />
    <add key="Help2_ColumnMax" value="36" />

    <add key="Help_automaticCount" value="1" />
    <add key="ColumnFourColumns" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>